apiVersion: cloud.google.com/v1
kind: BackendConfig
metadata:
  name: cloud-trader-backend-config
  namespace: trading
spec:
  healthCheck:
    checkIntervalSec: 15
    timeoutSec: 5
    healthyThreshold: 2
    unhealthyThreshold: 2
    type: HTTP
    requestPath: /healthz
    port: 8080
