apiVersion: v1
kind: Service
metadata:
  name: {{ include "trading-system.fullname" $ }}-simplified-trader
  namespace: trading
  labels:
    {{- include "trading-system.labels" $ | nindent 4 }}
    app: cloud-trader
    component: simplified
spec:
  type: ClusterIP
  ports:
    - port: 8080
      targetPort: http
      protocol: TCP
      name: http
  selector:
    {{- include "trading-system.selectorLabels" $ | nindent 4 }}
    app: cloud-trader
    component: simplified
